//
// Queues available at CRG: http://www.linux.crg.es/index.php/UGE_Batch_System#Queues
//
profile bovreg {
    process {
        executor = 'crg'
        scratch = true
        clusterOptions = '-P prj007053'

        // Only short and long shared queues are available
        // Processes should be labelled accordingly!!! (see https://www.nextflow.io/docs/latest/process.html#label)
        withLabel:process_large {
            queue = 'long-sl7'
        }
        withLabel:process_short {
            queue = 'short-sl7'
        }
    }
}

profile bovreg_short_queue {
    process {
        executor = 'crg'
        scratch = true
        clusterOptions = '-P prj007053'
        queue = 'short-sl7'
    }
}
profile bovreg_long_queue {
    process {
        executor = 'crg'
        scratch = true
        clusterOptions = '-P prj007053'
        queue = 'long-sl7'
    }
}
